.env.local
venv/
__pycache__/
analyzer_results/

# we want this to be generated 
# only when ran
briefing.txt
fine_tuned_output.txt
raw_model_output.txt

final_requirement_model/

# training artifacts
training_results/
training_logs/
checkpoints/
*.pt
*.pth
*.bin
*.safetensors
bun.lock
node_modules/